/* Chỉ bù selector phụ thuộc tên thẻ của template gốc. */
#main article.body { padding: 0 30px; }
#sidebar section.section {
  background: url('../images/box-shadow-bottom.png') no-repeat left bottom;
  margin: 0 0 24px;
  padding: 0 0 6px;
}
#posts h3.post-title {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  text-transform: none;
}
